<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
         * {
         box-sizing: border-box;
         }
         .menu {
         float:left;
         width:30%;
         text-align:center;
         font-size: large;
         }
         .menu select {
           width: 50%;
           clear: both;
         }

         .menu a {
         background-color:#FFFFFF;
         padding:8px;
         margin-top:7px;
         display:block;
         width:100%;
         color:blue;
         }
         .main {
         float:left;
         width:60%;
         padding:0 20px;
         }
         .right {
         background-color:#FFFFFF;
         float:left;
         width:20%;
         padding:15px;
         margin-top:7px;
         text-align:center;
         }
         @media only screen and (max-width:620px) {
         /* For mobile phones: */
         .menu, .main, .right {
         width:100%;
         }
         }
      </style>
   </head>
   <body style="font-family:monospace;color:#000000;">
      <div style="background-color:#FFFFFF;padding:15px;text-align:center;font-size:200%;">
         <h1>Basstracker</h1>
      </div>
      <br>
      <div style="overflow:auto">
      <div class="menu">
         <h2>Weight Submission:</h2>
         <br>
         <form method="POST" action="/basstracker/submit_weight">
            Angler:
            <select name="angler">
               <option value="none" selected disabled hidden>
                  Select Angler (Required)
                  <%=@angler_list%>
            </select>
            <br>
            <br>
            <br>
            Event:
            <select name="event">
               <option value="none" selected disabled hidden>
                  Select Event (Required)
                  <%=@event_list%>
            </select>
            <br>
            <br>
            <br>
            State:
            <select name="state">
               <option value="none" selected disabled hidden>
                  Select State (Required)
                  <%=@state_list%>
            </select>
            <br>
            <br>
            <br>
            Lake:
            <select name="lake">
               <option value="not available" selected>
                  Select Lake (Optional)
                  <%=@lake_list%>
            </select>
            <br>
            <br>
            <br>
            Weight:&nbsp;&nbsp;&nbsp;
            <input type="text" name="weight" placeholder="lbs-oz or decimal">
            <br>
            <br>
            <br>
            <%=@bass_type%>
            <br>
            <br>
            <br>
            <input type="submit">
         </form>
         <br>
         <font color="green"><%=@submit_message%></font>
         <br>
         <p><a href="http://jasonvue.club:8081/basstracker/options">Angler/Event/Lake options</a></p>
         <p><a href="http://daily.jasonvue.club" target="_blank">View daily results dashboard</a></p>
         <p><a href="http://versus.jasonvue.club" target="_blank">View versus results dashboard</a></p>
         <br>
      </div>
      <div class="main">
      </div>
      <div class="center"></div>
   </body>
</html>
